.employee-card {
  flex: 1 0 calc(33% - 5px);
  height: 250px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.employee-property {
  color: #bbb
}
